$primary: #741bed;
html,
body {
  height: 100%;
  font-size: 1rem;
}

#fix-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.navbar-brand {
  color: #741bed;
}
.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.main {
  background: #fbf7f2;
}
.third {
  background: #e6f3e6;
}

.content,
.company {
  height: 80vh;
  align-items: center;
}
footer {
  background: #495057;
  font-size: 1.2rem;
  color: white;
  height: 20vh;
}

.footer-text {
  margin-left: 20%;
  padding: 1% 1%;
}
@media (min-width: 1200px) {
  .text-m br {
    display: none;
  }
  .left {
    margin-left: 55%;
  }
  .left-img {
    margin-left: 51%;
  }
}

@media (max-width: 1199.98px) {
  .title {
    font-size: 2rem;
  }

  .content,
  .company {
    justify-content: center;
  }
  .content img {
    height: 500px;
  }
  .company img {
    min-width: 350px;
  }
  footer {
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
  }
  .footer-text {
    margin-left: 0%;
    padding: 0%;
  }
}
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
