$primary: #741bed;
html,
body {
  height: 100%;
  font-size: 1rem;
}

#fix-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.navbar-brand {
  color: #741bed;
}
.top-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.row {
  background: #fbf7f2;
}
.content {
  height: 100vh;
  align-items: center;
}

@media (min-width: 992px) {
  .left {
    margin-left: 55%;
  }
}

@media (max-width: 575.98px) {
  .content {
    justify-content: center;
  }
  .content img {
    height: 500px;
  }
}
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
