$primary: #741bed;

#fix-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.navbar-brand {
  color: #741bed;
}
.section {
  height: 100vh;
  background: #fbf7f2;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
